/* You can add global styles to this file, and also import other style files */
html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

footer{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}