<!-- <div class="about-container">
    <div class=" inner_container">
        <div class="first_container">
            <img src="../../assets/images/profile-img.JPG">
        </div>
        <div class="second_container">
            <p>
               Hi, I am Aung Kyaw Min, a software engineer based in Little Rock, AR.
            </p>
            <p>
                Shortly after graduating from <a href="https://uca.edu/">University of Central Arkansas</a>, I joined Arkansas Blue Cross Blue Shield where I work on a wide variety of interesting and meaningful projects on a daily basis.
            </p>
        </div>
    </div>
</div> -->
<div class="about-container">
    <div class="inner-about">
        <div class="first_container">
            <img src="../../assets/images/profile-img.JPG">
        </div>
        <div class="second_container">
            <ul>
                <li>
                    <span class="titles">Name: </span>
                    <span>Aung Kyaw Min</span>
                </li>
                <li>
                    <span class="titles">Location: </span>
                    <span>Little Rock, AR</span>
                </li>
                <li>
                    <span class="titles">Age: </span>
                    <span>21</span>
                </li>
                
                <li>
                    <span class="titles">Job Title: </span>
                    <span>Front End Developer</span>
                </li>
            </ul>
           

            <p>
               Hi, I am Aung Kyaw Min, a software engineer based in Little Rock, AR.
            </p>
            <p>
                Shortly after graduating from <a href="https://uca.edu/" target="blank">University of Central Arkansas</a>, I joined Arkansas Blue Cross Blue Shield where I work on a wide variety of interesting and meaningful projects on a daily basis.
            </p>
        </div>
    </div>
</div>