.footer-container{
    background-color: #31355b;
    margin: 0px;
    height: 100%;
    padding: 150px 50px;
    color: rgba(255, 255, 255, 0.856);
}

.inner-footer{
    text-align: center;
    max-width: 600px;
    padding: 150px 0px;
    margin: 0px auto 100px;
}

span{
    font-size: 2.5em;
}

p{
    width: 100%;
    text-align: center;
    padding: 40px 20px;
}

a{
    color: #fff;
    background-color: #4299ed;
    list-style: none;
    border-radius: 10%;
    padding: 18px 25px;
}