.footer{
    width: 100%;
    text-align: center;
    background-color: #212121;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0px;
}

a{
    color: rgba(255, 255, 255, 0.5);
    
    /* padding: 30px 15px; */
}

fa-icon{
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.568);
}

li{
    padding: 15px 30px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 5px;
}

.icon{
    font-size: 1em;
    padding: 10px;
}

p{
    font-size: 15px;
    margin-bottom: 0px;
}