<div class="footer">
    <ul class="icon-list">
        <li>
            <a href="https://github.com/AungKyaw-Min"><fa-icon class="icon" [icon]="faGithub"></fa-icon></a>
        </li>
        <li >
            <a href="https://www.linkedin.com/in/aungkyaw-min/"><fa-icon class="icon" [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
            <a href="mailto:koaungkyawmin23@gmail.com"><fa-icon class="icon" [icon]="faEnvelope"></fa-icon></a>
        </li>
    </ul>
    <h5>Copyright © 2020 Aung Kyaw Min. All rights reserved.</h5>
</div>