<div class="footer">
    <ul class="icon-list">
        <li>
            <a href="https://github.com/AungKyaw-Min" target="blank"><fa-icon class="icon" [icon]="faGithub"></fa-icon></a>
        </li>
        <li >
            <a href="https://www.linkedin.com/in/aungkyaw-min/" target="blank"><fa-icon class="icon" [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
            <a href="mailto:koaungkyaw-min23@gmail.com"><fa-icon class="icon" [icon]="faEnvelope"></fa-icon></a>
        </li>
    </ul>
    <p>Copyright © 2020 Aung Kyaw Min. All rights reserved.</p> 
</div>