/* .resume{
    padding: 20px;
    font-size: 15px;
    font-family: inherit;
    text-transform: none;
    margin: 0%;
    text-decoration: none;
    color: #fff;
}

.btn[class*=btn-outline-].btn-sm{
    padding: 0%;
} */




/* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

nav{
    background-color: #333333;
    color:  #EEEEEE;
    padding: 0 15px;
}

a{
    color: #EEEEEE;
    text-decoration: none;
}

.menu{
    list-style-type: none;
}

.logo{
    padding: 7.5px 10px 7.5px 0;
}

.item{
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:hover, a:hover::after{
    color: black;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a{
    display: block;
    padding: 15px 5px;
}

.toggle{
    order: 1;
    font-size: 20px;
}

.item
{
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
} */

/* 12:18 */
.navbar-change{
    /* background-color: blue !important;
    transition: background-color 5s linear .2s; IE 10, Fx 16+, Op 12.1+  */
    /* transition: background-color 1s ease-out; */
    /* transition-duration: 5s;
  transition-delay: 2s; */
  /* -webkit-transition: background-color  5s ease-in-out; */
    /* height: 48px;
    --animate-duration: 3s !important;
    --animate-delay: 3s !important;
    --animate-repeat: 1; */
    max-height:0;
}

.navbar{
   width: 100%;
   height:auto;
   max-height: 60px;
   transition:max-height 0.3s ease-out;
   /* transition: 2s ease-in-out; */
   /* transition-duration: 5s;
   transition-delay: 2s; */
}

.navbar-nav{
    margin-left: auto;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

@media (min-width: 576px)
{
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.resume{
    padding: 8px;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 4px;
    max-width: 95px;
    /* text-align: center;
    border-radius: 5px;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    max-width: 75px; */
}

.navbar-brand{
    padding-left: 50px;
    font-size: 28px;
}