.resume{
    padding: 20px;
    font-size: 15px;
    font-family: inherit;
    text-transform: none;
    margin: 0%;
    text-decoration: none;
    color: #fff;
}

.btn[class*=btn-outline-].btn-sm{
    padding: 0%;
}

/* @media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
}

.edit_navbar {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
} */