<div class="intro-container">
    <div class="inner-intro">
        <!-- <span class="first_intro">Hi, my name is</span> -->
        <br>
        <h2 class="second_intro">Aung Kyaw Min</h2>
        <br>
        <h3 class="third_intro">I'm a software engineer & front‑end developer focused on crafting clean  & user‑friendly experiences.</h3>
        <br>
        <!-- <p>
            I'm a software engineer based in Little Rock, AR specializing in building (and occasionally designing) exceptional websites, applications, and everything in between.
        </p> -->
        <a (click)="scroll('contact')">Get In Touch</a>
    </div>
</div>