.about-container{
    background-color: #75a7b2;
    /* background-color: #a3d3dd; */
    color: #e7e7e7;
    margin: 0px;
    padding-left: 10em;
    padding-right: auto;
    padding-bottom: 170px;
    padding-top: 170px;
    height: 95vh;
    max-height: 95vh;
}

.inner-about{
    text-align: left;
    width: 100%;
    /* padding: 150px 0px; */
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 300px;
    padding-left: 0px;
    margin: 0px auto 80px;
}

span{
    font-size: 2.5em;
}

p{
    width: 30%;
    font-size: 18px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

a{
    color: #e7e7e7;
    list-style: none;
    /* background-color: #a3d3dd; */
    /* background-color: #75a7b2; */
    background-color: 	#2e5861;
    border-radius: 1px;
    padding: 18px 25px;
}

.first_intro{
    font-size: 18px;
}

.second_intro{
    font-size: 80px;
}

.third_intro{
    font-size: 45px;
}